body{
    background: #BDBDBD;
}
.tagline {
    background-image: url("/website/assets/img/bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tagline h1 {
    font-size: 170px;
}

