<!-- your html code here -->

<div class="porfolio border-top px-5">
    <div class="row my-5">
        <div class="col-12 porfolio-headding mb-4">
            <h2>Porfolio</h2>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card border-0 h-100 w-100" style="width: 25rem;">
                    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <a href="">Project Name</a>
                    <p class="card-text">Texto de ejemplo para rellenar un poco el contenido.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 h-100 w-100" style="width: 25rem;">
                    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <a href="">Project Name</a>
                    <p class="card-text">Texto de ejemplo para rellenar un poco el contenido.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0 h-100 w-100" style="width: 25rem;">
                    <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                    <a href="">Project Name</a>
                    <p class="card-text">Texto de ejemplo para rellenar un poco el contenido.</p>
                </div>
            </div>
        </div>
    </div>
</div>