<!-- your html code here -->

<div class="container border-top ps-5 mb-3">


    <div class="row my-3">

        <div class="col-9 porfolio-headding">
            <h2>Porfolio</h2>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>

    </div>

    <div class="row gutter-0">

        <div class="col-xl-3 me-5">
            <div class="card border-0 h-100 w-100" style="width: 25rem;">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                <a href="">Project Name</a>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sAdd commentMore actions
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
            </div>
        </div>

        <div class="col-xl-3 me-5">
            <div class="card border-0 h-100 w-100" style="width: 25rem;">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                <a href="">Project Name</a>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sAdd commentMore actions
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
            </div>
        </div>

        <div class="col-xl-3">
            <div class="card border-0 h-100 w-100" style="width: 25rem;">
                <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                <a href="">Project Name</a>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'sAdd commentMore actions
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
            </div>
        </div>

    </div>


</div>
