<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="tagline md-mx-0 md-px-0" style="height: 700px;">
        <div class="OPW">
            <h1 class="d-flex justify-content-center bg-white text-dark bg-opacity-75">One Page Wonder</h1>
            <h2 class="d-flex justify-content-center bg-white text-dark bg-opacity-75">Will Knock Your Socks Off</h2>
        </div>
        
    </div>
</body>
</html>